body {
    background-image: url('https://github.com/Damian-Coleman-Visual-Solutions/DCVS-Rolling-Counter/blob/a1509da97dc78396d750971d8fe1488b5fbd1206/GEHC%20Counter%20Display-02.jpg');  /* Replace with your graphic */
    background-size: cover;  /* Adjusts to cover the entire screen */
    background-position: center;  /* Centers the image */
    background-repeat: no-repeat;  /* Ensures the image doesn't repeat */
    font-family: 'Source Sans Pro', sans-serif;
}

h1,#counter {
    font-size: 3em;
    color: #ffffff;
    text-align: center;   /* Center the text horizontally */
    width: 100%;          /* Ensure the element takes full width */
    margin: 0 auto;       /* Ensure the element is centered */
}

#counter {
    position: absolute;   /* Absolute positioning for precise control */
    top: 50%;             /* Adjust the vertical position */
    left: 50%;            /* Adjust the horizontal position */
    transform: translate(-50%, -50%); /* Centers the counter relative to the parent */
    font-size: 8em;
    color: #ffffff; /* Customize color as desired */
}
/* New slot machine digit animation styles */
.slot-machine {
    display: flex;
    justify-content: center;
    font-size: 4em;
    font-family: 'Source Sans Pro', sans-serif;
}

.digit {
    display: inline-block;
    transition: transform 1.5s ease-in-out;  /* Animation for sliding effect */
    width: 0.6em;  /* Adjust width to ensure spacing */
    text-align: center;
}
